#welcome {
	margin-top: 0px;
  height: 450px;
  width:auto;
  
}
#aboutimg {
	margin-top: 0px;
  height: 650px;
  width: 1600px;
  
}
#post-terms {
	margin-top: 60px;
	margin-left: 90px;
	margin-right: 610px;
	margin-bottom: 20px;
	font-size: 25px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-indent: 40px;
	text-align: justify;
}

#post-terms2 {
	margin-top: 60px;
	margin-left: 100px;
	margin-right: 100px;
	margin-bottom: 20px;

}
#post-terms3 {
	margin-top: 10px;
	margin-left: 100px;
	margin-right: 100px;
	margin-bottom: 0px;
}


h3 {
	font-size: 50px;
}


