/* fieldset */
fieldset { 
  display: block;
  align-content: left;
  margin-left: 0px;
  margin-right: 200px;
  padding-top: 30px;
  padding-bottom: 60px;
  padding-left: 150px;
  padding-right: 450px;
  border: 10px;
  border-color: #125688;
}

  legend {
    font-size: 50px;
  }

  #picture {
    margin-top: 0px;
    margin-left: 500px;
    height: 350px;
    width: 900px;
    
  }
  