  #titlePage{
	text-align: center;
	color: white;
	font-size: 40px;
}
li {
	color: #CCCCCC;
	margin-left: 60px;
}

li:before {
	font-family: 'courier';
    font-size: 9px;
    float: left;
    margin-top: 4px;
    margin-left: -17px;
	color: #CCCCCC;
	margin-left: 70px;
}

.parent {
	text-align: justify;
}

.parent >ul {
	display: inline-block;
	margin-left: 600px;
}


