/* navbar */
body {
	font-family: 'Playfair Display', serif;
}

.navbar-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 20;
}

.navbar-wrapper>.container {
	padding-right: 0;
	padding-left: 0;
}

.navbar-wrapper .navbar {
	padding-right: 15px;
	padding-left: 15px;
}

.navbar-wrapper .navbar .container {
	width: auto;
}

#logo {
	margin-top: 5px;
	height: 50px;
}

@media ( min-width : 768px) {
	.navbar-wrapper {
		margin-top: 20px;
	}
	.navbar-wrapper .container {
		padding-right: 15px;
		padding-left: 15px;
	}
	.navbar-wrapper .navbar {
		padding-right: 0;
		padding-left: 0;
	}
	.navbar-wrapper .navbar .container {
		border-radius: 4px;
	}
}

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
body {
	padding-top: 0.1rem;
	padding-bottom: 1rem;
	color: black;
}

/* Carousel base class */
.carousel {
	height: 500px;
	margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
	z-index: 5;
}

/* Declare heights because of positioning of img element */
.carousel-item {
	height: 500px;
}

.carousel-item>img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	height: 500px;
}

/* footer */
#page-footer {
	background-color: #f2f2f2;
	padding-bottom: 50px;
}

#page-footer h5 {
	padding-left: 40px;
	padding-top: 20px;
	border-left: 3px solid 000000;
	padding-bottom: 6px;
	margin-bottom: 20px;
	color: 000000;
	text-align: center;
}

#page-footer #id {
	margin-left: 80px;
}

#page-footer ul.quick-links li {
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}

#page-footer ul.quick-links li:hover {
	padding-left: 5px;
	font-weight: 700;
}

#page-footer ul.quick-links li a i {
	padding-right: 10px;
	color: black;
}

#page-footer ul.quick-links li a {
	padding-right: 40px;
	color: black;
}

#page-footer ul.contact-infos li a i {
	padding-left: 10px;
	color: black;
}

#page-footer ul.contact-infos li a {
	padding-left: 40px;
	color: black;
}

#page-footer hr {
	margin-left: -200px;
	margin-right: -200px;
}

#page-footer ul.text li a {
	float: right;
	color: black;
	padding-left: 30px;
	margin-bottom: 10px;
}

#inner-remaining {
	position: absolute;
	width: 80%;
}

#copyright {
	float: left;
}

.footer-text {
	margin-top: 5px;
	padding: 20px;
}

.float-right {
	margin-right: 60px;
}

.float-left {
	margin-left: 40px;
}

/* dropdown */
/*Sub-dropdown menu*/
.dropdown-submenu {
	position: relative;
}

.dropdown-submenu a::after {
	transform: rotate(-90deg);
	position: absolute;
	right: 20px;
	top: .8em;
}

.dropdown-submenu .dropdown-menu {
	top: 0;
	left: 100%;
	margin-left: .1rem;
	margin-right: .1rem;
}

#shopcart {
	margin-top: 5px;
	height: 50px;
}

@media ( min-width : 768px) {
	.navbar-wrapper {
		margin-top: 20px;
	}
	.navbar-wrapper .container {
		padding-right: 15px;
		padding-left: 15px;
	}
	.navbar-wrapper .navbar {
		padding-right: 0;
		padding-left: 0;
	}
	.navbar-wrapper .navbar .container {
		border-radius: 4px;
	}
}

@media ( max-width : 767px) {
	.block {
		margin-left: -20px;
		margin-right: -20px;
	}
}

/*Report*/
.text-center {
	float: left;
	padding-left: 30%;
	padding-bottom: 2%;
	padding-top: 0;
}

#titleheader {
	float: left;
	padding-left: 30%;
	padding-bottom: 5%;
}

#currentDate {
	float: right;
	padding: 0% 30% 0% 5%;
}

#mostordered {
	width: 40%;
	margin-left: 30%;
	margin-top: 5%;
}

#crtno {
	width: 30%;
}

#toppizzas {
	width: 30%;
	align: center;
}

#pageno {
	margin-left: 60%;
}

@media print {
	@page {
		margin: 0;
	}
	body {
		margin: 1.6cm;
	}
	#page-footer {
		display: none
	}
}