#adduser {
  padding: 5px;
  font-size: 30px;
  width: 50px;
  text-decoration: none;
  margin-left: 450px;
  align:right;
  color: red;
}

#trash{
  right:10%;
  padding: 5px;
  font-size: 30px;
  width: 50px;
  text-decoration: none;
  align:right;
  color: red;
}


h2 {
	text-align: center;
}

#viewUsers{
	width:200%;
}

#viewUsers .fa-buttons {
	left: 80%;
	right: 0%;
}