<link rel="icon" href="images/logo.jpg" type="image/x-icon">
<link rel="stylesheet" href="/stylesheets/403.css">
<div th:replace="fragments/head :: head"></div>
<title>403</title>

<body background="/images/imageForBackgroung.jpg">
	<div id="noaccess">
		<div class="noaccess-bg"></div>
			<div class="noaccess">
				<div class="noaccess-403">
					<h1>403</h1>
				</div>
		<h2>No permission to access</h2>

		<h3 th:if="${message != null}" th:utext="${message}" style="color: red;"></h3>
		<div th:if="${userInfo != null}" th:utext="${userInfo}"></div>

	</div>
</div>

<div th:replace="fragments/script :: script"></div>
	
	  </body>
</html>