<!DOCTYPE html>
	<html xmlns:th="http://www.thymeleaf.org">
	  <head>
		<meta charset = "utf-8">
		<meta name = "viewport" content = "width = device-width, initial scale = 1.0">
		<meta name = "description" content = "Pizza Mia WebSite">
		<meta name = "author" content = "Frontend team">
		<title>About us</title>
		<link rel="icon" href="/images/logo.jpg" type="image/x-icon">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel = "stylesheet" href = "/stylesheets/style.css">
		<link rel = "stylesheet" href = "/stylesheets/aboutus.css">
		<link href = "https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
		<link rel = "stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	  </head>
			<body background = "/images/background-4.jpg"></body>
    <div th:replace = "fragments/navbar :: navbar"></div>
	  		<div id="content-page" class="span12 content group">
	    		<div id="post-terms2" class="group post-terms page type-page status-publish hentry">
						<div class="row justify-content-center">
							<img id = "welcome" src = "/images/welcome-pizza.jpg"/>
						</div>
					</div>
					<div id="post-terms" class="group post-terms page type-page status-publish hentry">
        				<p> Pizza Mia is located at Bulevardul Carol I, nr. 22, Iasi. We pride ourselves on using fresh ingredients to create delicious food at affordable prices. Check our offer which lets you <a href ="CustomizePizza.html" th:href="@{/menu/pizza/customizepizza}">customize your own pizza </a> online!</p>
						<p>If you have any questions about us, please contact us using our<a href = "Contact.html" th:href="@{/contact}"> contact form</a> or by telephoning on 0184 256692.</p>
						</br>
						<h3>Information about us</h3>
						</br>
						<p>We are a proud team which will seek to serve the pizza eaters wildest dreams, using the best ingredients ever.</p>
						<p>Be brave and try our facility of customizing your own type pizza. The customized pizza can be saved on your own profile, so <a href = "SignUp.html" th:href="@{/signup}">sign up</a> first! </p>
						<p> See our  <a href = "Menu.html" th:href="@{/menu}">menu!</a></p>
					</div>
					</br>
 					<div id="post-terms3" class="group post-terms page type-page status-publish hentry">
						<div class="row justify-content-center">
							<img id = "aboutimg" src = "/images/aboutimg.jpg"/>
						</div>
					</div>
<!-- Footer -->
<div th:replace="fragments/footer :: footer"></div>
		<!-- Footer -->
			<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
			<script src = "/jscripts/index.js"></script>
			<script src="http://maps.google.com/maps/api/js?key=YOUR_API_KEY"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/gmaps.js/0.4.25/gmaps.js"></script>
			<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
			</body>
		</html>