<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Example pizza!</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="icon" href="images/logo.jpg" type="image/x-icon">
	<div th:replace="fragments/head :: head"></div>
</head>

<body>
	<h3>Create your pizza!!</h3>
	<form action="#" th:action="@{/addCust}" th:object="${cust}" method="post" autocomplete="off">
		<div>
			<input type="hidden" th:field="*{customized_id}" />
		</div>
		<div>
			Name:
			<input type="text" th:field="*{customized_name}" />
			<td th:if="${#fields.hasErrors('customized_name')}" th:errors="*{customized_name}">.....</td>												
			</div>
			<div>
				Energy:
				<input type="text" th:field="*{customized_energy}"/>
				<td th:if="${#fields.hasErrors('customized_energy')}" th:errors="*{customized_energy}">.....</td>								
			</div>
			<div>
				Cuntertop:
				<input type="radio" th:field="*{countertops}" value="Italian"/><label>Italian</label>
				<input type="radio" th:field="*{countertops}" value="Fluffy"/><label>Fluffy</label>
				<input type="radio" th:field="*{countertops}" value="Multicereal"/><label>Multicereal</label>
				<td th:if="${#fields.hasErrors('countertops')}" th:errors="*{countertops}">.....</td>				
			</div>			
			<div>
				<ul>
    	  		<li th:each="ingredient : ${ingredients}" >  
    	    		<input type="checkbox" th:field="*{ingredients}" th:value="${ingredient.ing_id}"/>
	      			<label th:text="${ingredient.ing_name}" >Ingredient Name</label>
    	  		  	<td th:if="${#fields.hasErrors('ingredients')}" th:errors="*{ingredients}">.....</td>   	      				      			       	
          		</li>
		  		</ul>	
		   </div>								
			<div>
				<button type="submit">Create pizza</button>
			</div>
	</form>
<div th:replace="fragments/footer :: footer"></div>
<div th:replace="fragments/scripts :: scripts"></div>
</body>
</html>