<div th:replace="fragments/head :: head"></div>
<title>Example pizza!</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
	<h3>Create your pizza!!</h3>
	<form action="#" th:action="@{/addIngredient}" th:object="${i}" method="post" >
			<div>
				<input type="hidden" th:field="*{ing_id}"/>					
			</div>
			<div>
				Name:				
				<input type="text" th:field="*{ing_name}"/>	
				<td th:if="${#fields.hasErrors('ing_name')}" th:errors="*{ing_name}">.....</td>										
			</div>
			<div>
				Type:
				<input type="text" th:field="*{ing_type}"/>
				<td th:if="${#fields.hasErrors('ing_type')}" th:errors="*{ing_type}">.....</td>								
			</div>
			<div>
				Allergen:
				<input type="text" th:field="*{ing_allergen}"/>
				<td th:if="${#fields.hasErrors('ing_allergen')}" th:errors="*{ing_allergen}">.....</td>								
			</div>
			<div>
				Price:
				<input type="text" th:field="*{ing_price}"/>
				<td th:if="${#fields.hasErrors('ing_price')}" th:errors="*{ing_price}">.....</td>								
			</div>
			<div>
				Quantity:
				<input type="text" th:field="*{ing_quantity}"/>
				<td th:if="${#fields.hasErrors('ing_quantity')}" th:errors="*{ing_quantity}">.....</td>								
			</div>
			<div>
				Energy:
				<input type="text" th:field="*{energy}"/>
				<td th:if="${#fields.hasErrors('energy')}" th:errors="*{energy}">.....</td>								
			</div>
			<div>
				Fat:
				<input type="text" th:field="*{fat}"/>
				<td th:if="${#fields.hasErrors('fat')}" th:errors="*{fat}">.....</td>								
			</div>
			<div>
				Carbohydrate:
				<input type="text" th:field="*{carbohydrate}"/>
				<td th:if="${#fields.hasErrors('carbohydrate')}" th:errors="*{carbohydrate}">.....</td>								
			</div>
			<div>
				Fibres:
				<input type="text" th:field="*{fibres}"/>
				<td th:if="${#fields.hasErrors('fibres')}" th:errors="*{fibres}">.....</td>	
							
			</div>
			<div>
				Proteine:
				<input type="text" th:field="*{proteine}"/>
				<td th:if="${#fields.hasErrors('proteine')}" th:errors="*{proteine}">.....</td>	
							
			</div>
			<div>
				Salt:
				<input type="text" th:field="*{salt}"/>			
				<td th:if="${#fields.hasErrors('salt')}" th:errors="*{salt}">.....</td>	
								
			</div>								
			<div>
				<button type="submit">Save ingredient</button>
			</div>
	</form>
	
	<div th:replace="fragments/scripts :: scripts"></div>
	
</body>
</html>