<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Dips</title>
	<link rel="icon" href="images/logo.jpg" type="image/x-icon">
	<link rel="stylesheet" href="/stylesheets/dips.css">
	<div th:replace="fragments/head :: head"></div>
</head>

<body background="/images/backgrounddd.jpg">
	<div th:replace="fragments/navbar :: navbar"></div>
	<div class="container" id="principal">
		<!--Start Carusel-->
		<div id="content-page" class="span12 content group">
			<div id="post-terms2" class="group post-terms page type-page status-publish hentry">
				<div class="row justify-content-center">
					<img id="dips-banner" src="/images/dips_3.jpg" />
				</div>
			</div>
		</div>
		<!--Sfarsit carusel-->
		<br /> <br />
	</div>
	<!--Sfarsit carusel-->
	<div class="sidenav">
		<a href="Pizza.html" th:href="@{/menu/pizza}">Pizza</a>
		<a href="Drinks.html" th:href="@{/menu/drinks}">Drinks</a>
		<a th:href="@{/menu/pizza/viewCreations}">Creations</a>
	</div>
	<br /><br />
	</div>
	<!-- Tipuri sosuri -->
	<div class="container">
	<div class="row">
	<div class="col"  th:each="appProduct: ${dips}">

		<div class="card mb-4 box-shadow">
			<div class="card-header">
				<h4 th:text="${appProduct.productName}" class="my-0 font-weight-normal"></h4>
			</div>
			<img id="pizza" th:attr="src = ${appProduct.imageLink}">
			<div class="card-body">
				<h1 th:text="${appProduct.price} + ' Lei'" class="card-title pricing-card-title"></h1>
				<p th:text="${appProduct.energyValue} + ' Kcal'"></p>
				<button type="button" class="btn btn-lg btn-block btn-outline-primary" >Add to cart</button>
			</div>
		</div>	
		</div>	
		<div class="w-75"></div>
	</div>
	</div>
	<!-- Footer -->
	<div th:replace="fragments/footer :: footer"></div>
	<div th:replace="fragments/script :: script"></div>
</body>

</html>