<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Pizza Mia Edit Ingredients</title>
	<link rel="icon" href="/images/logo.jpg" type="image/x-icon">
	<link rel="stylesheet" href="/stylesheets/ingredients.css" th:href="@{/stylesheets/ingredients.css}">
	<div th:replace="fragments/head :: head"></div>
</head>

<body background="/images/backgrounddd.jpg">

	<!-- Navbar -->
	<div th:replace="fragments/navbar :: navbar"></div>
	<h3 id="titlePage">Edit the selected ingredient!</h3>
	<br>
	<br>
	<form action="#" th:action="@{/menu/ingredients/editIngredient}" th:object="${ingredient}" method="post">
		<div>
			<input type="hidden" th:field="*{ing_id}" />
		</div>
		<div class="block">
			<label>Name: </label>
			<input type="text" th:field="*{ing_name}" />
			<span class="text-danger">
				<td th:if="${#fields.hasErrors('ing_name')}" th:errors="*{ing_name}">.....</td>
		 </span>
	</div>
	<div class = "block">
		<label>Type:</label> 
		<input type="text" th:field="*{ing_type}" />
		<span class="text-danger">
		<td th:if="${#fields.hasErrors('ing_type')}" th:errors="*{ing_type}">.....</td>
		</span>
	</div>
	<div class = "block">
		<label>Allergen:</label>
		 <input type="text" th:field="*{ing_allergen}" />
		 <span class="text-danger">
		<td th:if="${#fields.hasErrors('ing_allergen')}" th:errors="*{ing_allergen}">.....</td>
		</span>
	</div>
	<div class = "block">
		<label>Quantity:</label> 
		<input type="text" th:field="*{ing_quantity}" />
		<span class="text-danger">
		<td th:if="${#fields.hasErrors('ing_quantity')}" th:errors="*{ing_quantity}">.....</td>
		</span>
	</div>
	<div class = "block">
		<label>Price:</label>
		 <input type="text" th:field="*{ing_price}" />
		 <span class="text-danger">
		<td th:if="${#fields.hasErrors('ing_price')}" th:errors="*{ing_price}">.....</td>
		</span>
	</div>
	<div class = "block">
		<label>Weight:</label> 
		<input type="text" th:field="*{ing_weight}" />
		<span class="text-danger">
		<td th:if="${#fields.hasErrors('ing_weight')}" th:errors="*{ing_weight}">.....</td>
		</span>
	</div>
	<div class ="block">
		<label>Energy:</label>
		 <input type="text" th:field="*{energy}" />
		 <span class="text-danger">
		<td th:if="${#fields.hasErrors('energy')}" th:errors="*{energy}">.....</td>
		</span>
	</div>
	<div class = "block">
		<label>Fat:</label> 
		<input type="text" th:field="*{fat}" />
		<span class="text-danger">
		<td th:if="${#fields.hasErrors('fat')}" th:errors="*{fat}">.....</td>
		</span>
	</div>
	<div class = "block">
		<label>Carbohydrate:</label> 
		<input type="text" th:field="*{carbohydrate}" />
		<span class="text-danger">
		<td th:if="${#fields.hasErrors('carbohydrate')}" th:errors="*{carbohydrate}">.....</td>
		</span>
	</div>
	<div class ="block">
		<label>Fibres:</label>
		 <input type="text" th:field="*{fibres}" />
		 <span class="text-danger">
		<td th:if="${#fields.hasErrors('fibres')}" th:errors="*{fibres}">.....</td>
		</span>
	</div>
	<div class = "block">
		<label>Proteine:</label> 
		<input type="text" th:field="*{proteine}" />
		<span class="text-danger">
		<td th:if="${#fields.hasErrors('proteine')}" th:errors="*{proteine}">.....</td>
		</span>
	</div>
	<div class = "block">
		<label>Salt:</label> 
		<input type="text" th:field="*{salt}" />
		<span class="text-danger">
		<td th:if="${#fields.hasErrors('salt')}" th:errors="*{salt}">.....</td>
		</span>
	</div>
	<div class="button">
		<button class="btn btn-default" type="submit">Save ingredient</button>
		<button class="btn btn-default"><a th:href="@{/menu/ingredients}" style="color:black;">View ingredients</a></button>
	</div>
</form>

<!-- Footer -->
<div th:replace="fragments/footer :: footer"></div>
<div th:replace="fragments/script :: script"></div>
<script src="/jscripts/index.js"></script>
</body>
</html>