<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>FAQ</title>
	<link rel="stylesheet" href="/stylesheets/texts.css">
	<link rel="icon" href="images/logo.jpg" type="image/x-icon">
	<div th:replace="fragments/head :: head"></div>
</head>

<body background="/images/background-4.jpg">
	<div th:replace="fragments/navbar :: navbar"></div>
	<!-- FAQ content -->
	<div id="content-page" class="span12 content group">
		<div id="post-terms1" class="group post-terms page type-page status-publish hentry">
			<h1>FAQ</h1>
			</br>
			<h3>What ingredients are used and what are their nutritional
				values?</h3>
			<p>We use only genuine and high quality ingredients. Every tab of
				our pizza lists the specific ingredients. Concerning yeast, classic
				pizzas use starter yeast while brewer's yeast is used for gluten free
				pizzas. The product cards found on our web site contain tabs listing
				the nutritional values.</p>
			<h3>Can any of the pizza ingredients be changed or eliminated?</h3>
			<p>Yes, you can specify if you want to change or eliminate the
				ingredients you want, or you can simply can customize your pizza.</p>
			<h3>How do I order a pizza?</h3>
			<p>You can buy out pizza by simply click on the button Add to cart
				after you see out menu.</p>
		</div>
		<div id="post-terms2" class="group post-terms page type-page status-publish hentry">
			<h3>Do I have to order a minimum number of pizzas?</h3>
			<p>No, you can order just one pizza if you want.</p>
			<h3>Can I order differnet types of pizzas in the same order?</h3>
			<p>Yes. You can also order drinks and dips on the same order.</p>
			<h3>How much is delivery?</h3>
			<p>If you order less than 50 Lei, the delivery will cost 10 Lei if
				your address is in the city and 15 Lei if your address is out of
				city. If your adress is in the city, if you order more than 50 Lei,
				the delivery is free and if your adress is out of the city you must
				order more the 100 Lei for a free delivery.</p>
		</div>
		<div id="post-terms1" class="group post-terms page type-page status-publish hentry">
			<h3>How can I pay?</h3>
			<p>You can pay online by PayPal or credit/ debit card or cash at
				the moment you receive the order.</p>
			<h3>Do you deliver every day?</h3>
			<p>Yes, but in the weekend we deliver until 11 PM and in the rest
				of the week until 1 AM</p>
			<h3>How long is delivery time?</h3>
			<p>It depends on the traffic, meteo conditions and the distance
				between the restaurant and delivery address, but usually 1-2 hours.</p>
			<h3>Can I arrange for a specific delivery time?</h3>
			<p>Yes, you can specify that before you sent the order.</p>
		</div>
		<!-- Footer -->
		<div th:replace="fragments/footer :: footer"></div>
		<div th:replace="fragments/script :: script"></div>
		<script src="/jscripts/index.js"></script>
</body>

</html>