<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width = device-width, initial scale = 1.0">
<meta name="description" content="Pizza Mia WebSite">
<meta name="author" content="Frontend team">
<title>Help</title>
<link rel="icon" href="/images/logo.jpg" type="image/x-icon">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link rel="stylesheet" href="/stylesheets/style.css">
<link rel="stylesheet" href="/stylesheets/help.css">
<link rel="stylesheet" href="/stylesheets/text.css">
<link href="https://fonts.googleapis.com/css?family=Playfair+Display"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body background="/images/background-4.jpg"></body>
<div th:replace="fragments/navbar :: navbar"></div>
<div id="content-page" class="span12 content group">
	<div id="post-terms2"
		class="group post-terms page type-page status-publish hentry">
		<div class="row justify-content-center">
			<img id="picture" src="/images/faq.jpg" />
		</div>
	</div>
	<div id="post-terms1"
		class="group post-terms page type-page status-publish hentry">
		<p>
			If you have questions about delivery, order and promotions, consult
			our <a href="FAQ.html" th:href=@{/faq}>FAQ</a> or complete the form
			below.
		</p>
	</div>
</div>
<!-- Form -->
<form th:action="@{/help}" method="post">
	<fieldset class="form-group">
		<legend> Help form </legend>
		<div class="form-row">
			<div class="form-group col-md-6">
				<label for="email">Email</label> <input type="email"
					class="form-control" id="email" name="email" placeholder="Email"
					autofocus="autofocus">
			</div>
			<p th:id="message"></p>
			<div class="form-group col-md-6">
				<label for="password">Password</label> <input type="password"
					class="form-control" id="password" placeholder="Password">
			</div>
			<label class="my-1 mr-2" for="inlineFormCustomSelectPref"> Problems </label> 
				<select class="custom-select my-1 mr-sm-2"
				id="inlineFormCustomSelectPref">
				<option selected>Choose...</option>
				<option value="1">Delivery</option>
				<option value="2">Order</option>
				<option value="3">Promotions</option>
			</select>
			<div class="form-group">
				<label for="exampleFormControlTextarea1">Describe your problem</label>
				<textarea class="form-control" id="exampleFormControlTextarea1"
					rows="3"></textarea>
			</div>
			</div>
			<button type="submit" class="btn btn-primary" th:onclick="checkpass()" value="validate">Sent</button>
	</fieldset>
</form>
<!-- Footer -->
<div th:replace="fragments/footer :: footer"></div>
<!-- Footer -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script src="/jscripts/index.js"></script>
<script src="jscripts/form.js"></script>
<script src="http://maps.google.com/maps/api/js?key=YOUR_API_KEY"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/gmaps.js/0.4.25/gmaps.js"></script>
</body>
</html>