<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

  <head>
    <meta charset = "utf-8">
    <meta name = "viewport" content = "width = device-width, initial scale = 1.0">
    <meta name = "description" content = "Pizza Mia WebSite">
    <meta name = "author" content = "Frontend team">
    <title>Pizza Mia Ingredients</title>
    <link rel = "icon" href = "/images/logo.jpg" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel = "stylesheet" href = "/stylesheets/style.css" th:href="@{/stylesheets/style.css}">
    <link rel = "stylesheet" href = "/stylesheets/ingredients.css" th:href="@{/stylesheets/ingredients.css}">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    <link rel = "stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
    <body background ="/images/backgrounddd.jpg"></body>
<!-- Navbar -->
    <div th:replace = "fragments/navbar :: navbar"></div>

<h3 id="titlePage">Ingredients</h3>
<br>
<br>
<table class="table table-dark">
<thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Update</th>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Type</th>
      <th scope="col">Allergen</th>
      <th scope="col">Weight(g)</th>
      <th scope="col">Price(LEI)</th>
      <th scope="col">Quantity(piece)</th>
      <th scope="col">Energy(g)</th>
      <th scope="col">Fat(g)</th>
      <th scope="col">Carbohydrate(g)</th>
      <th scope="col">Fibres(g)</th>
      <th scope="col">Proteine(g)</th>
      <th scope="col">Salt(g)</th>
      <th></th>
      <th><button class="btn btn-default"><a class="buttonLink" th:href="@{/menu/ingredients/addIngredient}" >Create a new</a></button></th>
    </tr>
  </thead>
  <tbody>
  <tr th:each="ingredient : ${ingredients}">
  		<td scope="row"></th>  		
  		<td><a th:href="@{|/menu/ingredients/editIngredient/${ingredient.ing_id}|}">Update</a></td>
  		<td th:text="${ingredient.ing_id}"></th>
        <td th:text="${ingredient.ing_name}">Title ...</td>
        <td th:text="${ingredient.ing_type}">1</td>
        <td th:text="${ingredient.ing_allergen}">1</td>
        <td th:text="${ingredient.ing_weight}">1</td>
        <td th:text="${ingredient.ing_price}">1</td>
        <td th:text="${ingredient.ing_quantity}">1</td>
        <td th:text="${ingredient.energy}">1</td>
        <td th:text="${ingredient.fat}">1</td> 
        <td th:text="${ingredient.carbohydrate}">1</td> 
        <td th:text="${ingredient.fibres}">1</td>
        <td th:text="${ingredient.proteine}">1</td>
        <td th:text="${ingredient.salt}">1</td>
    </tr>       
   </tbody>
</table>


<!-- Footer -->
<div th:replace="fragments/footer :: footer"></div>
<!-- Footer -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  
  <script src = "/jscripts/index.js"></script>
  <script src="http://maps.google.com/maps/api/js?key=YOUR_API_KEY"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gmaps.js/0.4.25/gmaps.js"></script>
  <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
  </body>
</html>