<link rel="icon" href="/images/logo.jpg" type="image/x-icon">
<div th:replace="fragments/head :: head"></div>
    <title>Pizza Mia Ingredients</title>
    <link rel = "stylesheet" href = "/stylesheets/style.css">
    <link rel = "stylesheet" href = "/stylesheets/ingredients.css">
<body>
    <body background ="/images/backgrounddd.jpg"></body>
<!-- Navbar -->
    <div th:replace = "fragments/navbar :: navbar"></div>

<h3 id="titlePage">Ingredients</h3>
<br>
<br>
<table class="table table-dark">
<thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Update</th>
      <th scope="col">Name</th>
      <th scope="col">Type</th>
      <th scope="col">Allergen</th>
      <th scope="col">Weight(g)</th>
      <th scope="col">Price(LEI)</th>
      <th scope="col">Quantity(piece)</th>
      <th scope="col">Energy(g)</th>
      <th scope="col">Fat(g)</th>
      <th scope="col">Carbohydrate(g)</th>
      <th scope="col">Fibres(g)</th>
      <th scope="col">Proteine(g)</th>
      <th scope="col">Salt(g)</th>
      <th></th>
      <th><button class="btn btn-default"><a class="buttonLink" th:href="@{/menu/ingredients/addIngredient}" >Create a new</a></button></th>
    </tr>
  </thead>
  <tbody>
  <tr th:each="ingredient : ${ingredients}">
  		<td scope="row"></th>  		
  		<td><a th:href="@{|/menu/ingredients/editIngredient/${ingredient.ing_id}|}">Update</a></td>
        <td th:text="${ingredient.ing_name}">Title ...</td>
        <td th:text="${ingredient.ing_type}">1</td>
        <td th:text="${ingredient.ing_allergen}">1</td>
        <td th:text="${ingredient.ing_weight}">1</td>
        <td th:text="${ingredient.ing_price}">1</td>
        <td th:text="${ingredient.ing_quantity}">1</td>
        <td th:text="${ingredient.energy}">1</td>
        <td th:text="${ingredient.fat}">1</td> 
        <td th:text="${ingredient.carbohydrate}">1</td> 
        <td th:text="${ingredient.fibres}">1</td>
        <td th:text="${ingredient.proteine}">1</td>
        <td th:text="${ingredient.salt}">1</td>
    </tr>       
   </tbody>
</table>


<!-- Footer -->
<div th:replace="fragments/footer :: footer"></div>
<!-- Footer -->
<div th:replace="fragments/script :: script"></div>
  <script src = "/jscripts/index.js"></script>
  </body>
</html>