<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset = "utf-8">
    <meta name = "viewport" content = "width = device-width, initial scale = 1.0">
    <meta name = "description" content = "Pizza Mia WebSite">
    <meta name = "author" content = "Frontend team">
    <title>Log In</title>
    <link rel = "icon" href = "IMAGES/logo.jpg" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel = "stylesheet" href = "css/style.css">
    <link rel = "stylesheet" href = "CSS/login.css">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    <link rel = "stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
      <body background ="IMAGES/background-4.jpg"></body>
<!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
         <a class="navbar-brand" href="index.html">
            <img id = "logo" src = "IMAGES/logo.jpg"/>
         </a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
               <li class="nav-item active">
                  <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="About us.html">About us</a>
               </li>
               <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="Menu.html" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Menu</a>
               <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li ><a class="dropdown-item" href="Pizza.html">Pizza</a></li>
                  <li><a class="dropdown-item" href="Dips.html">Dips</a></li>
                  <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#">Drinks</a>
                     <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="Soda.html">Sodas</a></li>
                        <li><a class="dropdown-item" href="Cocktail.html">Cocktails</a></li>
                     </ul>
                  </li>
               </ul>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="PopularChoices.html">Popular choices</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="Promotions.html">Promotions</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="Help.html">Help</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="Contact.html">Contact</a>
            </li>
         </ul>
         <ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" href="shopping-cart.html">
					  <img id = "shopcart" src = "IMAGES/shopcart.png"/>
				   </a>
				</li>
			</ul>
         <a class="btn btn-lg btn-primary mybtn" href = "LogIn.html">Log in</a>
      </div>
   </nav>
 <!-- Form -->
   <div class="container">
      <div class="row">
         <div class="col-md-5 mx-auto">
            <div id="first">
               <div class="myform form ">
                  <div class="logo mb-3">
                     <div class="col-md-12 text-center">
                        <h1>Login</h1>
                     </div>
                  </div>
                  <form action="" method="post" name="login">
                     <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" name="email"  class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                     </div>
                     <div class="form-group">
                        <label for="exampleInputEmail1">Password</label>
                        <input type="password" name="password" id="password"  class="form-control" aria-describedby="emailHelp" placeholder="Enter Password">
                     </div>
                     <div class="form-group">
                        <p class="text-center">By signing up you accept our <a href="Terms.html">Terms Of Use</a></p>
                     </div>
                     <div class="col-md-12 text-center ">
                        <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm">Login</button>
                     </div>
                     <div class="col-md-12 ">
                        <div class="login-or">
                           <hr class="hr-or">
                              <span class="span-or">or</span>
                        </div>
                     </div>
                     <div class="col-md-12 mb-3">
                        <p class="text-center">
                           <a href="javascript:void();" class="google btn mybtn"><i class="fa fa-google-plus">
                              </i> Signup using Google
                           </a>
                        </p>
                        </div>
                        <div class="form-group">
                           <p class="text-center">Don't have account? <a href="SignUp.html" id="signup">Sign up here</a></p>
                        </div>
                     </form>  
                  </div>
               </div>
               <div id="second">
                  <div class="myform form ">
                     <div class="logo mb-3">
                        <div class="col-md-12 text-center">
                           <h1 >Signup</h1>
                        </div>
                     </div>
                     <form action="#" name="registration">
                        <div class="form-group">
                           <label for="exampleInputEmail1">First Name</label>
                           <input type="text"  name="firstname" class="form-control" id="firstname" aria-describedby="emailHelp" placeholder="Enter Firstname">
                        </div>
                        <div class="form-group">
                           <label for="exampleInputEmail1">Last Name</label>
                           <input type="text"  name="lastname" class="form-control" id="lastname" aria-describedby="emailHelp" placeholder="Enter Lastname">
                        </div>
                        <div class="form-group">
                           <label for="exampleInputEmail1">Email address</label>
                           <input type="email" name="email"  class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                           <label for="exampleInputEmail1">Password</label>
                           <input type="password" name="password" id="password"  class="form-control" aria-describedby="emailHelp" placeholder="Enter Password">
                        </div>
                        <div class="col-md-12 text-center mb-3">
                           <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm">Get Started</button>
                        </div>
                        <div class="col-md-12 ">
                           <div class="form-group">
                              <p class="text-center"><a href="#" id="signin">Already have an account?</a></p>
                           </div>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>     
      </br>
      </br>  
<!-- Footer -->
<footer id="page-footer" >
<!-- Footer Elements -->
<div class="wrapper container">
   <div class="row justify-content-center">
      <div>
         <h5>Quick links</h5>
         <ul class="list-unstyled quick-links">
            <li><a href="PopularChoices.html"><i class="fa fa-angle-double-right"></i>PopularChoices</a></li>
            <li><a href="Promotions.html"><i class="fa fa-angle-double-right"></i>Promotions</a></li>
            <li><a href="Help.html"><i class="fa fa-angle-double-right"></i>Help</a></li>
         </ul>
      </div>
      <div>
         <h5>My account</h5>
         <ul class="list-unstyled quick-links">
            <li><a href="#"><i class="fa fa-angle-double-right"></i>My profile</a></li>
            <li><a href="#"><i class="fa fa-angle-double-right"></i>My purchase list</a></li>
         </ul>
      </div>
      <div>
      <h5>Contact</h5>
      <ul class="list-unstyled contact-infos">
         <li><a><i class="fa fa-home mr-3"></i>Bulevardul Carol I, nr. 22, Iasi, RO</a></li>
         <li><a href="#"><i class="fa fa-envelope mr-3"></i> pizzamia@yahoo.com</a></li>
         <li><a><i class="fa fa-phone mr-3"></i> + 07 40 30 34 56</a></li>
      </ul>
   </div>
</div>
<h5>You can visit us on:</h5>
<div id="map" width="100%">
   <iframe width="100%" height="300" id="map-iframe"
           src="https://maps.google.com/maps?width=100%&amp;height=350&amp;hl=en&amp;coord=47.1739612, 27.572106299999973&amp;q=Universitatea%20Alexandru%20Ioan%20Cuza%20din%20Ia%C8%99i%2C%20Bulevardul%20Carol%20I%2C%20Ia%C8%99i%2C%20Rom%C3%A2nia+(EvaluareaRiscurilor.ro)&amp;ie=UTF8&amp;t=&amp;z=13&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
      <a href="https://www.maps.ie/create-google-map/">Google Maps iframe generator</a>
   </iframe>
</div>
<h5 id="id" >Contact us on:</h5>
   <div class="btn-group">
      <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-youtube"></a>
      <a href="#" class="fa fa-instagram"></a>
      <a href="#" class="fa fa-skype"></a>
   </div>
   <!-- Footer Elements -->
   <hr class= "footer-divider">
      <div id="inner-remaining">
   <!-- Copyright -->
         <ul class="list-unstyled text">
           <li><a href="#">Back to top</a></li>
            <div class= "row" id="copyright">
               <li><p>&copy; 2019 Pizza Mia &middot; </p></li>
               <li><a href="Terms.html">Terms &middot;</a></li>
               <li><a href="Privacy.html">Privacy  &middot;</a></li>
            </div>
           </ul>
         </div>
      </div>
   </footer>
<!-- Footer -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src = "js/bootstrap.js"></script>
<script src = "js/index.js"></script>
<script src="http://maps.google.com/maps/api/js?key=YOUR_API_KEY"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gmaps.js/0.4.25/gmaps.js"></script>
<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
   </body>
</html>