<!DOCTYPE html>
	<html xmlns:th="http://www.thymeleaf.org">
	  <head>
		<meta charset = "utf-8">
		<meta name = "viewport" content = "width = device-width, initial scale = 1.0">
		<meta name = "description" content = "Pizza Mia WebSite">
		<meta name = "author" content = "Frontend team">
		<title>Page not found</title>
		<link rel="icon" href="IMAGES/logo.jpg" type="image/x-icon">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel = "stylesheet" href = "css/pageNotFound.css">
		<link href = "https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
		<link rel = "stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	  </head>
	  <body background="IMAGES/imageForBackgroung.jpg">
			<div id="notfound">
				<div class="notfound-bg"></div>
				<div class="notfound">
					<div class="notfound-404">
						<h1>404</h1>
					</div>
					<h2>Oops! Page Not Found</h2>
					<div class="notfound-social">
						<a href="#"><i class="fa fa-facebook"></i></a>
						<a href="#"><i class="fa fa-youtube"></i></a>
						<a href="#"><i class="fa fa-instagram"></i></a>
						<a href="#"><i class="fa fa-skype"></i></a>
					</div>
					<a href="index.html">Back To Homepage</a> 
				</div>
			</div>
		
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src = "js/bootstrap.js"></script>
<script src="http://maps.google.com/maps/api/js?key=YOUR_API_KEY"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gmaps.js/0.4.25/gmaps.js"></script>
	  </body>
</html>