<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Pizza</title>
<link rel="stylesheet" href="/stylesheets/pizza.css">
<link rel="icon" href="/images/logo.jpg" type="image/x-icon">
<div th:replace="fragments/head :: head"></div>
</head>

<body background="/images/backgrounddd.jpg">
	<div th:replace="fragments/navbar :: navbar"></div>
	<div class="container" id="principal">
		<!--Start Carusel-->
		<div id="content-page" class="span12 content group">
			<div id="post-terms2"
				class="group post-terms page type-page status-publish hentry">
				<div class="row justify-content-center">
					<img id="pizza-banner" src="/images/img_menu.jpg" />
				</div>
			</div>
		</div>
		<!--Sfarsit carusel-->
		<div class="sidenav">
			<a href="Dips.html" th:href="@{/menu/dips}">Dips</a> <a
				th:href="@{/menu/pizza/viewCreations}">Creations</a> <a
				href="Drinks.html" th:href="@{/menu/drinks}">Drinks</a>
		</div>
		<br />
	</div>
	<!-- Tipuri pizza -->


	<div class="container">
		<div class="card-deck mb-3 text-center">
			<div class="card mb-1 box-shadow">
				<div class="card-header">
					<h4 class="my-0 font-weight-normal">Create your own pizza!</h4>
				</div>
				<img id="pizza" src="/images/pizza_margherita.jpg">
				<div class="card-body">
					<h1 class="card-title pricing-card-title">
						Start from 5 LEI <small class="text-muted">/ pizza</small>
					</h1>
					<ul class="list-unstyled mt-3 mb-4">
						<li>tomato souce</li>
						<li>mozzarella</li>
						</br>
					</ul>
					<a class="btn btn-lg btn-block btn-primary"
						href="CustomizePizza.html" th:href=@{/menu/pizza/customizepizza}>Choose
						the rest of the ingredients</a>
				</div>
			</div>
		</div>

		<!-- ---------------------------THYMELEAF PRODUCT---------------------------- -->
		<div class="row">
			<div class="col-sm-3" th:each="appProduct: ${pizzas}">

				<div class="card mb-4 box-shadow">
					<div class="card-header">
						<h4 th:text="${appProduct.productName}"
							class="my-0 font-weight-normal"></h4>
					</div>
					<img id="pizza" th:attr="src = ${appProduct.imageLink}">
					<div class="card-body">
						<h1 th:text="${appProduct.price} + ' Lei/Pizza'"
							class="card-title pricing-card-title"></h1>
						<p th:text="${appProduct.energyValue} + ' Kcal'"></p>
						<ul th:each="ingPer: ${appProduct.ingPerProd}"
							class="list-unstyled mt-3 mb-4">
							<!--  <ul th:text="${ingPer.product}"></ul> -->
							<ul th:each="ing : ${ingPer.ingredient}">
								<li th:text="${ing.ing_name}"></li>
							</ul>
						</ul>
						<button type="submit"
							class="btn btn-lg btn-block btn-outline-primary">
							<a th:href="@{|/shoppingcart/${appProduct.productName}|}">Add
								to cart</a>
						</button>
					
					</div>
				</div>

			</div>
		</div>
	</div>

	<div class="w-75"></div>

	<!-- ----------------------------------SF THYMELEAF----------------------------------- -->

	<!-- Footer -->
	<div th:replace="fragments/footer :: footer"></div>
	<div th:replace="fragments/script :: script"></div>
</body>

</html>