<div th:replace="fragments/head :: head"></div>
		<title>Popular choices</title>
		<link rel = "stylesheet" href = "/stylesheets/style.css">
		<link rel = "stylesheet" href = "/stylesheets/popular_choices.css">
	<body background = "/images/backgrounddd.jpg"></body>
    <div th:replace = "fragments/navbar :: navbar"></div>
<!-- Content -->
<div class="container">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Cappricio Pizza</h4>
            </div>
        <img id = "pizza" src = "/images/pizza_cappricio.jpg">
        <div class="card-body">
            <h1 class="card-title pricing-card-title"> 20 LEI <small class="text-muted">/ pizza</small></h1>
        <p>Rate</p>
        <div class="rating">
			<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
		</div>
        </div>
    </div>
        <div class="card mb-4 box-shadow">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Quatro Stagione Pizza</h4>
            </div>
            <img id = "pizza" src = "/images/pizza_quatro_stagione.jpg">
            <div class="card-body">
              <h1 class="card-title pricing-card-title"> 23 LEI <small class="text-muted">/ pizza</small></h1>
            <p>Rate</p>
        <div class="rating">
			<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
		</div>
        </div>
    </div>
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Hawai Pizza</h4>
        </div>
        <img id = "pizza" src = "/images/pizza_hawai.jpg">
        <div class="card-body">
            <h1 class="card-title pricing-card-title"> 28 LEI <small class="text-muted">/ pizza</small></h1>
            <p>Rate</p>
        <div class="rating">
			<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
		</div>
    </div>
    </div>
</div>
</br>
<div class="container">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Vegeratian Pizza</h4>
            </div>
        <img id = "pizza" src = "/images/pizza_vegetariana.jpg">
        <div class="card-body">
            <h1 class="card-title pricing-card-title"> 17 LEI <small class="text-muted">/ pizza</small></h1>
            <p>Rate</p>
        <div class="rating">
			<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
		</div>
        </div>
    </div>
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Diavolo Pizza</h4>
        </div>
        <img id = "pizza" src = "/images/pizza_diavolo.jpg">
        <div class="card-body">
            <h1 class="card-title pricing-card-title"> 21 LEI <small class="text-muted">/ pizza</small></h1>
            <p>Rate</p>
        <div class="rating">
			<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
		</div>
        </div>
    </div>
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Napoli Pizza</h4>
        </div>
        <img id = "pizza" src = "/images/pizza_napoli.jpg">
        <div class="card-body">
            <h1 class="card-title pricing-card-title"> 25 LEI <small class="text-muted">/ pizza</small></h1>
         <p>Rate</p>
        <div class="rating">
			<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
		</div>
        </div>
    </div>
</div>
</br>
<div class="container">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Pizza Roma</h4>
            </div>
    <img id = "pizza" src = "/images/pizza_roma.jpg">
        <div class="card-body">
            <h1 class="card-title pricing-card-title"> 22 LEI <small class="text-muted">/ pizza</small></h1>
            <p>Rate</p>
        <div class="rating">
			<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
		</div>
        </div>
    </div>
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Pizza Picanty</h4>
        </div>
        <img id = "pizza" src = "/images/pizza_picanty.jpg">
        <div class="card-body">
            <h1 class="card-title pricing-card-title"> 26 LEI <small class="text-muted">/ pizza</small></h1>
            <p>Rate</p>
        <div class="rating">
			<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
		</div>
        </div>
    </div>
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Pizza Salami</h4>
        </div>
        <img id = "pizza" src = "/images/pizza_salami.jpg">
        <div class="card-body">
            <h1 class="card-title pricing-card-title"> 24 LEI <small class="text-muted">/ pizza</small></h1>
            <p>Rate</p>
        <div class="rating">
			<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
		</div>
        </div>
    </div>
</div>
</br>
<div class="container">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Margherita Pizza</h4>
            </div>
            <img id = "pizza" src = "/images/pizza_margherita.jpg">
            <div class="card-body">
            <h1 class="card-title pricing-card-title"> 14 LEI <small class="text-muted">/ pizza</small></h1>
            <p>Rate</p>
        <div class="rating">
			<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
		</div>
        </div>
    </div>
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Tonno Pizza</h4>
        </div>
        <img id = "pizza" src = "/images/pizza_tonno.jpg">
        <div class="card-body">
            <h1 class="card-title pricing-card-title"> 26 LEI <small class="text-muted">/ pizza</small></h1>
                <p>Rate</p>
        <div class="rating">
			<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
		</div>
        </div>
    </div>
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Salmone Pizza</h4>
        </div>
        <img id = "pizza" src = "/images/pizza_salmone.jpg">
        <div class="card-body">
            <h1 class="card-title pricing-card-title"> 31 LEI <small class="text-muted">/ pizza</small></h1>
           <p>Rate</p>
        <div class="rating">
			<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
		</div>
        </div>
    </div>
</div>
</br>
<div class="container">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Quatro Formaggi Pizza</h4>
            </div>
            <img id = "pizza" src = "/images/pizza_quatro_formaggi.jpg">
            <div class="card-body">
                <h1 class="card-title pricing-card-title"> 27 LEI <small class="text-muted">/ pizza</small></h1>
                <p>Rate</p>
        <div class="rating">
			<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
		</div>
            </div>
        </div>
    </div>
    </div>
<!-- End content -->
    <div th:replace="fragments/footer :: footer"></div>
    
<div th:replace="fragments/script :: script"></div>
<!--<script src = "/jscripts/index.js"></script>-->
<script src = "/ascripts/popular_choices.js"></script>

	</body>
</html>