<link rel="icon" href="/images/logo.jpg" type="image/x-icon">
<div th:replace="fragments/head :: head"></div>
  <title>Promotions</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/promotions.css">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">

<body background="/images/backgrounddd.jpg"></body>
<!-- Navbar -->
<div th:replace="fragments/navbar :: navbar"></div>
<!--End Of Navbar -->

<!-- **********************************************banners************************************************************ -->

<div id = "dayspromotions-banner" >
  <img id="daysbanner" src = "/images/promotions1.jpg"/>
    <h1 id="title-first-slide">Discover the day's promotion!</h1>
      <p id="text-first-slide">Come in our restaurant to enjoy our daily promotion</p>
</div>

<div id = "tombola-banner" >
  <img id="tombolabanner" src = "/images/promotions5.jpg"/>
    <h1 id="title-second-slide">Join our tombola and check your prize!</h1>
      <p id="text-second-slide">We're excited to meet you at our tombola</p>
      	<button class="btn btn-lg btn-danger btn-block btn-tombola-promotions" type="button" data-target="#MyModal"
          data-toggle="modal">Play the tombola!</button>
          <!-- -------------------------- pop-up message -------------------------------- -->
          <div class="modal fade" id="MyModal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
              </div>
              <div class="modal-body">
                Your form was successfully sent!
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
              </div>
            </div>
          </div>
        </div>
</div>

<div class = "events-banner" >
  <img id="eventsbanner" src = "/images/promotions8.jpeg"/>
    <h1 id="title-third-slide">The most tasty pizza for your event</h1>
	   <p id="text-third-slide">Pizza Mia is glad to transform your event in the most special one</p>
</div>

<!--Events Form-->
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <form name="myform" action="" method="post" accept-charset="utf-8" class="form" role="form">
        <legend>Choose the event details</legend>
        <div class="row">
          <div class="col-xs-6 col-md-6">
            <input type="text" name="firstname" value="" class="form-control input-lg" placeholder="First Name"
              required /></div>
          <div class="col-xs-6 col-md-6">
            <input type="text" name="lastname" value="" class="form-control input-lg" placeholder="Last Name"
              required /></div>
        </div>
        <input type="text" name="email" value="" class="form-control input-lg" placeholder="Your Email" required />
        <input type="text" name="nofpersons" value="" class="form-control input-lg"
          placeholder="Enter the number of persons" required />
        <button class="btn btn-lg btn-primary btn-block submit-btn" type="button" data-target="#MyModal"
          data-toggle="modal">Submit</button>
        </br>
        <div class="modal fade" id="MyModal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
              </div>
              <div class="modal-body">
                Your form was successfully sent!
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!--End of Events Form-->
<div class = "drinkfree-banner" >
  <img id="drinksbanner" src = "/images/promotions11.png"/>
    <h1 id="title-fourth-slide">Order your prefered pizza and get your drink free!</h1>
     <p id="text-fourth-slide">Order at least 3 pizzas and we give you the drink for free!</p>
</div>
<!--Ionela's-->
<!-- Footer -->
<div th:replace="fragments/footer :: footer"></div>
<!-- Footer -->
<div th:replace="fragments/script :: script"></div>
<script src="/jscripts/index.js"></script>
</body>

</html>