<link rel="icon" href="/images/logo.jpg" type="image/x-icon">
<div th:replace="fragments/head :: head"></div>
<title>Reset password</title>
<link rel="stylesheet" href="/stylesheets/style.css">

<body background="/images/background-4.jpg"></body>
<div th:replace="fragments/navbar :: navbar"></div>
<!-- Form -->
<form th:action="@{/auth/reqPassReset}" th:object="${AppUser}"
	method="POST">
	<fieldset class="form-group">
		<legend>Request password reset</legend>
		<div class="form-row">
			<div class="form-group col-md-7">
				<label for="email">Please enter your e-mail address</label> <input type="email"
					name="email" th:field="*{email}" class="form-control" id="email" placeholder="E-mail">
			</div>
		</div>
		<button type="submit" class="btn btn-primary"
			 value="validate">Reset password</button>
	</fieldset>
</form>
<!-- Footer -->
<div th:replace="fragments/footer :: footer"></div>
<!-- Footer -->
<div th:replace="fragments/script :: script"></div>
<script src="/jscripts/index.js"></script>
<script src="/jscripts/form.js"></script>

</body>
</html>