<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Reset password</title>
<link rel="icon" href="/images/logo.jpg" type="image/x-icon">
<div th:replace="fragments/head :: head"></div>
<link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body background="/images/background-4.jpg">
	<div th:replace="fragments/navbar :: navbar"></div>
	<!-- Form -->
	<form th:action="@{|/auth/resetPassword/${token}|}"
		th:object="${AppUser}" method="POST">
		<fieldset class="form-group">
			<legend> Reset password </legend>
			<h4 th:attrappend="class=' ' + ${message.messageType}"
				th:if="${message != null}" th:text="${message.message}">Password
				match Error</h4>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="newPassword">New password</label>
					<div class="text-danger" th:if="${#fields.hasErrors('password')}"
						th:errors="*{password}">Password Error</div>
					<input type="password" th:field="*{password}" class="form-control"
						id="newPassword" placeholder="New Password">
				</div>
				<div class="form-group col-md-6">
					<label for="confirmPassword">Confirm password</label>
					<div class="text-danger"
						th:if="${#fields.hasErrors('passwordRepeat')}"
						th:errors="*{passwordRepeat}">Confirm password Error</div>
					<input type="password" th:field="*{passwordRepeat}"
						class="form-control" id="confirmPassword"
						placeholder="Confirm Password">
				</div>

			</div>
			<button type="submit" class="btn btn-primary"
				th:onclick="checkpassword()" value="validate">Reset</button>
		</fieldset>
	</form>
	<!-- Footer -->
	<div th:replace="fragments/footer :: footer"></div>
	<div th:replace="fragments/script :: script"></div>
	<script src="/jscripts/index.js"></script>

</body>

</html>