<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Report</title>
<link rel="stylesheet" href="/stylesheets/RMostOrderedPizza.css">
<link rel="icon" href="/images/logo.jpg" type="image/x-icon">
<div th:replace="fragments/head :: head"></div>
</head>

<body background="/images/background-4.jpg">
	<div th:replace="fragments/navbar :: navbar"></div>
	<br>
	<br>
	<div class="container" id="container">
		<p id="titleheader">Pizza Mia</p>
		<p id="currentDate">04/04/2019</p>
		<br>
		<h2 class="text-center">Top of most ordered pizzas</h2>
		<br>
		<table class="table table-dark table-striped" id="mostordered">
			<thead>
				<tr>
					<th>Crt no</th>
					<th>Pizza Name</th>
				</tr>
			</thead>
			<tbody>
				<tr id="crtno">
					<td>1.</td>
					<td>Quattro Stagioni pizza</td>
				</tr>
				<tr id="crtno">
					<td>2.</td>
					<td>Quattro Formaggi pizza</td>
				</tr>
			</tbody>
		</table>
		<p id="pageno">Page 1/1</p>
	</div>
	<br>
	<br>

	<!-- Footer -->
	<div th:replace="fragments/footer :: footer"></div>
	<div th:replace="fragments/script :: script"></div>
	<script src="/jscripts/index.js"></script>
</body>

</html>