<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Report</title>
<link rel="stylesheet" href="/stylesheets/RTotalRevenueandCosts.css">
<link rel="icon" href="/images/logo.jpg" type="image/x-icon">
<div th:replace="fragments/head :: head"></div>
</head>

<body background="/images/background-4.jpg">
	<div th:replace="fragments/navbar :: navbar"></div>
	<br>
	<br>
	<div class="container" id="container">
		<p id="titleheader">Pizza Mia</p>
		<p id="currentDate">04/04/2019</p>
		<br>
		<br>
		<h2>Total costs and revenue per month</h2>
		<br>
		<form th:action="@{/report/total-revenue-and-costs}" id="textBox">
			Type the year: <input type="text" name="fyear"><br> <br>
			Type a month: <input type="text" name="fmonth"><br> <input
				type="submit" value="Submit" id="submitBtn">
		</form>
		<table class="table table-dark table-striped" id="tableReport"
			align="center">
			<thead>
				<tr>
					<th id="crtno">Crt no</th>
					<th colspan=2 id="costs">Costs (lei)</th>
					<th id="revenue">Revenue (lei)</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1.</td>
					<td colspan=2>20000</td>
					<td>60000</td>
				</tr>
				<tr>
					<td>2.</td>
					<td colspan=2>20000</td>
					<td>60000</td>
				</tr>
				<tr>
					<td><b>Total Costs</b></td>
					<td colspan=3 class="text-right"><b>40000</b></td>
				</tr>
				<tr>
					<td><b>Total Revenue</b></td>
					<td colspan=3 class="text-right"><b>120000</b></td>
				</tr>
				<tr>
					<td><b>Total Month (Revenue-Costs)</b></td>
					<td colspan=3 class="text-right"><b>80000</b></td>
				</tr>
			</tbody>
		</table>
	</div>
	<br>
	<br>

	<!-- Footer -->
	<div th:replace="fragments/footer :: footer"></div>
	<div th:replace="fragments/script :: script"></div>
	<script src="/jscripts/index.js"></script>
</body>

</html>