<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset = "utf-8">
    <meta name = "viewport" content = "width = device-width, initial scale = 1.0">
    <meta name = "description" content = "Pizza Mia WebSite">
    <meta name = "author" content = "Frontend team">
    <title>Shopping cart</title>
    <link rel = "icon" href = "/images/logo.jpg" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel = "stylesheet" href = "/stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    <link rel = "stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta charset="UTF-8">
  <title>Responsive Shopping Cart</title>
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

	<link rel = "stylesheet" href = "/stylesheets/style.css">
      <link rel="stylesheet" href="/stylesheets/styleShoppingCart.css">

  
</head>

<body>

 <body background ="/images/background-4.jpg"></body>
<!-- Navbar -->
<div th:replace = "fragments/navbar :: navbar"></div>
  <h1>Shopping Cart</h1>

<div class="shopping-cart">

  <div class="column-labels">
    <label class="product-image">Image</label>
    <label class="product-details">Product</label>
    <label class="product-price">Price</label>
    <label class="product-quantity">Quantity</label>
    <label class="product-removal">Remove</label>
    <label class="product-line-price">Total</label>
  </div>

  <div class="product">
    <div class="product-image">
      <img src="/images/pizza_cappricio.jpg">
    </div>
    <div class="product-details">
      <div class="product-title">Pizza 1</div>
      <p class="product-description">descriere</p>
    </div>
    <div class="product-price">22</div>
    <div class="product-quantity">
      <input type="number" value="1" min="1">
    </div>
    <div class="product-removal">
      <button class="remove-product">
        Remove
      </button>
    </div>
    <div class="product-line-price">22</div>
  </div>

  <div class="product">
    <div class="product-image">
      <img src="/images/pizza_margherita.jpg">
    </div>
    <div class="product-details">
      <div class="product-title">Pizza 2</div>
      <p class="product-description">descriere</p>
    </div>
    <div class="product-price">15</div>
    <div class="product-quantity">
      <input type="number" value="1" min="1">
    </div>
    <div class="product-removal">
      <button class="remove-product">
        Remove
      </button>
    </div>
    <div class="product-line-price">15</div>
  </div>

  <div class="totals">
    <div class="totals-item">
      <label>Subtotal</label>
      <div class="totals-value" id="cart-subtotal">37</div>
    </div>
	<!--DAN 
    <div class="totals-item">
      <label>Tax (19%)</label>
      <div class="totals-value" id="cart-tax">0</div>
    </div>
	-->
    <div class="totals-item">
      <label>Shipping</label>
      <div class="totals-value" id="cart-shipping">5.00</div>
    </div>
    <div class="totals-item totals-item-total">
      <label>Grand Total</label>
      <div class="totals-value" id="cart-total">42</div>
    </div>
  </div>
</div>
 <!--Ionela's-->
	<!-- Footer -->
<div th:replace="fragments/footer :: footer"></div>
<!-- Footer -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src = "/jscripts/index.js"></script>
	  <script src ="/jscripts/indexshoppingcart.js"></script>
	  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
      <script src="http://maps.google.com/maps/api/js?key=YOUR_API_KEY"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/gmaps.js/0.4.25/gmaps.js"></script>
      <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
  </body>
</html>