<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width = device-width, initial scale = 1.0">
  <meta name="description" content="Pizza Mia WebSite">
  <meta name="author" content="Frontend team">
  <title>Sign up</title>
  <link rel="icon" href="/images/logo.jpg" type="image/x-icon">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/signup.css">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

  <body background="/images/background-4.jpg"></body>
  <!-- Navbar -->
<div th:replace = "fragments/navbar :: navbar"></div>
  <!-- Form -->
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <form action="#" th:action="@{/auth/signup}" th:object="${AppUser}" method="POST" accept-charset="utf-8" class="form" role="form">
          <legend>Sign Up</legend>
          <div class="row">
            <div class="col-xs-12 col-md-12">
              <input type="text" name="userName" value="" th:field="*{userName}" class="form-control input-lg" placeholder="Full Name" />
            </div>
          </div>
          <input type="email" name="email" value="" th:field="*{email}" class="form-control input-lg" placeholder="Your Email" />
          <input type="password" name="password" value="" th:field="*{password}" class="form-control input-lg" placeholder="Password" />
          <input type="password" name="confirm_password" value="" th:field="*{passwordRepeat}" class="form-control input-lg"
            placeholder="Confirm Password" />
          <label>Birth Date</label>
          <div class="row">
            <div class="col-xs-4 col-md-4">
              <input type="date" name="birthDate" th:field="*{birthDate}" min="1950-01-01" max="2013-12-31" />
            </div>
          </div>
          <label>Gender : </label>
          <label class="radio-inline">
            <input type="radio" name="gender" value="M" th:field="*{gender}" id=male />Male</label>
          <label class="radio-inline">
            <input type="radio" name="gender" value="F" th:field="*{gender}" id=female />Female</label>
          <br />
          <span class="help-block">By clicking Create my account, you agree to our Terms and that you have read our Data
            Use Policy, including our Cookie Use.</span>
          </br>
          </br>
          <button class="btn btn-lg btn-primary btn-block signup-btn" type="submit">Create my account</button>
        </form>
      </div>
    </div>
  </div>
  </br>
  </br>
  </br>
  </br>
  </br>
 <!-- Footer-->
<div th:replace="fragments/footer :: footer"></div>
  <!-- Footer -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="/jscripts/index.js"></script>
  <script src="http://maps.google.com/maps/api/js?key=YOUR_API_KEY"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gmaps.js/0.4.25/gmaps.js"></script>
  <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
</body>

</html>