<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Sodas</title>
	<link rel="stylesheet" href="/stylesheets/drinks.css">
	<link rel="icon" href="/images/logo.jpg" type="image/x-icon">
	<div th:replace="fragments/head :: head"></div>
</head>

<body background="/images/backgrounddd.jpg">
	<div th:replace="fragments/navbar :: navbar"></div>
	<div class="container" id="principal">
		<!--Start Carusel-->
		<div id="content-page" class="span12 content group">
			<div id="post-terms2" class="group post-terms page type-page status-publish hentry">
				<div class="row justify-content-center">
					<img id="drinks-banner" src="/images/coca_cola_banner.jpg" />
				</div>
			</div>
		</div>
		</br>
		<div class="sidenav">
			<a href="Pizza.html" th:href="@{/menu/pizza}">Pizza</a>
			<a href="Dips.html" th:href="@{/menu/dips}">Dips</a>
			<a th:href="@{/menu/pizza/viewCreations}">Creations</a>
			<a href="Drinks.html" th:href="@{/menu/drinks}">Drinks</a>
			<a href="Cocktail.html" th:href="@{/menu/drinks/cocktail}">Cocktails</a>
		</div>
		</br>
		<!-- Tipuri bauturi -->
		<div class="container">
	<div class="row">
		<div class="col-sm-4" th:each="appProduct: ${sodas}" >
			<div class="card mb-4 box-shadow" >
			<div class="card-header">
				<h4 th:text="${appProduct.productName}"  class="my-0 font-weight-normal" ></h4>
			</div>
			<img id="pizza" th:attr="src = ${appProduct.imageLink}">
			<div class="card-body">
				<h1 th:text="${appProduct.price} + ' Lei'" class="card-title pricing-card-title"></h1>
				<p th:text="${appProduct.energyValue} + ' Kcal'"></p>
				<p th:text="${appProduct.description}"></p>
				<button type="button" class="btn btn-lg btn-block btn-outline-primary">Add to cart</button>
			</div>
			</div>	
		</div>	
		<div class="w-75"></div>
		</div>
	</div>
	<!-- Footer -->
	<div th:replace="fragments/footer :: footer"></div>
	<div th:replace="fragments/script :: script"></div>
	<script src="/jscripts/index.js"></script>
</body>

</html>