<link rel="icon" href="/images/logo.jpg" type="image/x-icon">
<div th:replace="fragments/head :: head"></div>
		<title>Sodas</title>
    <link rel = "stylesheet" href = "/stylesheets/style.css">
    <link rel = "stylesheet" href = "/stylesheets/drinks.css">
	  <body background ="/images/backgrounddd.jpg"></body>
      <div th:replace = "fragments/navbar :: navbar"></div>
<!-- Inceput Main -->
    <div class="container" id="principal">
<!--Start Carusel-->
<div id="content-page" class="span12 content group">
    <div id="post-terms2" class="group post-terms page type-page status-publish hentry">
      <div class="row justify-content-center">
        <img id = "drinks-banner" src = "/images/coca_cola_banner.jpg"/>
      </div>
    </div>
</div>
</br>
<!-- Tipuri bauturi -->
  <div class="container">
    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Coca Cola</h4>
        </div>
        <img id = "soda" src = "/images/drinks_cola.jpg">
        <div class="card-body">
          <h1 class="card-title pricing-card-title"> 5 LEI <small class="text-muted">/ bottle</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>250 ML</li>
          </ul>
          <button type="button" class="btn btn-lg btn-block btn-outline-primary">Add to cart</button>
        </div>
      </div>
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Fanta</h4>
        </div>
        <img id = "soda" src = "/images/drinks_fanta.jpg">
          <div class="card-body">
            <h1 class="card-title pricing-card-title"> 5 LEI <small class="text-muted">/ bottle</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>250 ML</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-primary">Add to cart</button>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">7UP</h4>
          </div>
          <img id = "soda" src = "/images/drinks_7up.jpg">
          <div class="card-body">
            <h1 class="card-title pricing-card-title"> 5 LEI <small class="text-muted">/ bottle</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>250 ML</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-primary">Add to cart</button>
          </div>
        </div>
      </div>
    </div>
    </div>
	<!-- Footer -->
<div th:replace="fragments/footer :: footer"></div>
<!-- Footer -->
<div th:replace="fragments/script :: script"></div>
<script src = "/jscripts/form.js"></script>
<!--<script scr = "/jscripts/index.js"></script>-->
	</body>
</html>