<link rel="icon" href="/images/logo.jpg" type="image/x-icon">
<div th:replace="fragments/head :: head"></div>
   <title>My profile</title>
   <link rel="icon" href="IMAGES/logo.jpg" type="image/x-icon">

   <link rel="stylesheet" href="/stylesheets/style.css">
   <link rel="stylesheet" href="/stylesheets/login.css">
   <link rel="stylesheet" href="/stylesheets/user.css">
<body>
   <body background="/images/background-4.jpg"></body>
   <!-- Navbar -->
   <div th:replace = "fragments/navbar :: navbar"></div>
   <!-- content-->
   <div class="sidenav">
      <a href="UserProfile.html">My account</a>
      <a href="MyAddresses.html">My addresses</a>
      <a href="MyOrders.html">My orders</a>
      <a href="MyVouchers.html">My vouchers</a>
   </div>

   <fieldset>
      <div class="user-menu-title">
         <legend class="user-menu-title"> My profile </legend>
      </div>
      <div class="col-xs-12 col-sm-9 col-md-9 user-menu-hide">
         <div class="user-container">
            <h3>Welcome : <span th:if="${#request.userPrincipal != null}" th:utext="${#request.userPrincipal.name}"></span></h3>
		    <div class="user-container-title">Account settings</div>
            <div class="user-divider"></div>
            <div class="user-container-subtitle">Personal data</div>
            <div class="account_details">
			<form method="POST" accept-charset="utf-8" action="#" th:action="@{/user}" th:object="${AppUser}" id="detalii-cont" name="detalii-cont" role="form">
				<div class="form-group">
					<input type="text" readonly name="userName" value="" th:field="*{userName}" class=" width_input_cos form-control user-input" placeholder="Full Name" />
				</div>
                <div class="form-group">
                	<input type="email" id="email" name="email" value="" th:field="*{email}" class=" width_input_cos form-control user-input" placeholder="Email address*:" />
                </div>
                <div class="form-group">
                	<input type="text" id="points" name="points" value="" th:field="*{points}" class=" width_input_cos form-control user-input" readonly />
                </div>
                <div class="form-group">
               		<input type="date" id="birthDate" name="birthDate" th:field="*{birthDate}" value="" class=" width_input_cos form-control user-input" min="1950-01-01" max="2013-12-31" />
                </div>
				<button type="submit" class="user-button-save" value="Save" name="account_details" >Save</button>
			</form>
		    </div>
            <div class="user-divider"></div>
<!-- ************************************** reset password ************************************* -->
            <div class="user-container-subtitle">Change password</div>
	        <div class="account_details">
		        <form method="post" action="" id="change-password">
                    <div class="form-group">
                        <input type="password" placeholder="Old password*:" class=" width_input_cos form-control user-input" name="old_password"  id="old_password"/>
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="New password*:" class=" width_input_cos form-control user-input" name="password"  id="password"/>
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="Retype password*:" class=" width_input_cos form-control user-input" name="password_again"  id="password_again"/>
                    </div>
                    <input type="submit" class="user-button-save" value="Save" name="edit_password" />
		        </form>
            </div>
<!-- ************************************** dezactivare cont ************************************* -->
            <div class="user-container-subtitle">Delete account</div>
            <div class="account_details">
                <form method="post" action="" id="delete-account">
                    <div class="form-group">
                        <textarea name="reasons" id="reasons" class=" width_input_cos form-control user-textarea" placeholder="I want to delete my account because:"></textarea>
                    </div>
                    <input type="button" class="user-button-delete" value="Delete account" id="delete-account" name="delete-account" />
                </form>
            </div>
        </div>
    </div>
</fieldset>

<!-- Footer -->
<div th:replace="fragments/footer :: footer"></div>
<!-- Footer -->
<div th:replace="fragments/script :: script"></div>
<script src = "/jscripts/index.js"></script>

<div th:replace="fragments/script :: script"></div>
   </body>
</html>