<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset = "utf-8">
    <meta name = "viewport" content = "width = device-width, initial scale = 1.0">
    <meta name = "description" content = "Pizza Mia WebSite">
    <meta name = "author" content = "Frontend team">
    <title>Pizza Mia Creations</title>
    <link rel = "icon" href = "/images/logo.jpg" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel = "stylesheet" href = "/stylesheets/style.css" th:href="@{/stylesheets/style.css}">
    <link rel = "stylesheet" href = "/stylesheets/ingredients.css" th:href="@{/stylesheets/ingredients.css}">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    <link rel = "stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
    <body background ="/images/backgrounddd.jpg"></body>
<!-- Navbar -->
    <div th:replace = "fragments/navbar :: navbar"></div>
<h3 id="titlePage">Creations</h3>
<br>
<br>
<table class="table table-dark">
<thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Delete</th>
      <th scope="col">Update</th>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Energy</th>
      <th scope="col">Countertop</th>
      <th scope="col">Ingredients</th>
      <th></th>
      <th><a th:href="@{/menu/pizza/customizepizza}">Create a new ingredient</a></th>
    </tr>
  </thead>
  <tbody>
  <tr th:each="customized : ${customs}">
  		<td scope="row"></th>  		
  		<td><a th:href="@{|/menu/pizza/viewCreations/deleteCreation/${customized.customized_id}|}">Delete</a></td>
  		<td><a th:href="@{|/menu/pizza/viewCreations/editCreation/${customized.customized_id}|}">Update</a></td>
  		<td th:text="${customized.customized_id}"></th>
        <td th:text="${customized.customized_name}">Title ...</td>
        <td th:text="${customized.customized_energy}">1</td>
        <td th:text="${customized.countertops}">1</td>
        <td>
        	<ul th:each="ingredient : ${customized.ingredients}">
        		<li th:text="${ingredient.ing_name}"></li>
        	</ul>
        </td> 
        <td>
        <ul>
        <li th:each="ingredient : ${ingredients}" th:field="*{ingredients}" th:text="${ingredient.ing_name}">1</li>
        </td>       
        </ul> 
        </tr>
   </tbody>
</table>

<!-- Footer -->
<div th:replace="fragments/footer :: footer"></div>
<!-- Footer -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  
  <script src = "/jscripts/index.js"></script>
  <script src="http://maps.google.com/maps/api/js?key=YOUR_API_KEY"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gmaps.js/0.4.25/gmaps.js"></script>
  <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
  </body>
</html>