<div th:replace="fragments/head :: head"></div>
<title>Page Title</title>

<script type="text/javascript">
function handleSelect(elm)
{
window.location = "/delete/"+th:text;
}
</script>

</head>
<body>
<table class="table table-dark">
<thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Delete</th>
      <th scope="col">Update</th>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Energy</th>
      <th scope="col">Countertop</th>
      <th scope="col">Ingredients</th>
      <th></th>
      <th><a th:href="@{/addCust}">Create a new ingredient</a></th>
    </tr>
  </thead>
  <tbody>
  <tr th:each="customized : ${customs}">
  		<td scope="row"></th>  		
  		<td><a th:href="@{|/deleteCustom/${customized.customized_id}|}">Delete</a></td>
  		<td><a th:href="@{|/editCustom/${customized.customized_id}|}">Update</a></td>
  		<td th:text="${customized.customized_id}"></th>
        <td th:text="${customized.customized_name}">Title ...</td>
        <td th:text="${customized.customized_energy}">1</td>
        <td th:text="${customized.countertops}">1</td>
        <td th:text="${ingredient.ingredients}">1</td>
    </tr>       
   </tbody>
</table>
<div th:replace="fragments/script :: script"></div>
</body>
</html> 